In [37]:
import os 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

#librerias para relizar aprendizaje automatico 
##para separar el conjunto de datos en entrenamiento y test 
from sklearn.model_selection import train_test_split 

#construir el modelo con el algoritmo de regresion lineal
from sklearn.linear_model import LinearRegression

#para determinar el rendimiento del modelo con las metricas MSE, MAE y R2
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

#para sacar un reporte estadistico que podemos usar para determinar la importancia de las variables explicativas 
import statsmodels.api as sm

In [86]:
df = pd.read_csv('C:/Users/XMX5634/Documents/Introduccion Ciencia de Datos Aplicada/Modelos Predictivos/inmuebles.csv',encoding='latin-1')

In [87]:
df.head()

,numero_cuartos,numero_baños,area_de_ construcción_pie2,area_del lote_pie2,numero_pisos,condición,grado,superficie_sótano_pie2,año_de_construcción,precio
0,3,1,1180,5650,1,3,7,0,1955,221900
1,2,1,770,10000,1,3,6,0,1933,180000
2,4,3,1960,5000,1,5,7,910,1965,604000
3,3,2,1680,8080,1,3,8,0,1987,510000
4,3,1,1780,7470,1,3,7,730,1960,229500

In [9]:
df.shape

(5466, 10)

# Preparacion de los datos

In [10]:

df_t = df

In [11]:
df_t.isna().sum()/len(df_t) #no vay valores con ausencia.

numero_cuartos                0.0
numero_baños                  0.0
area_de_ construcción_pie2    0.0
area_del lote_pie2            0.0
numero_pisos                  0.0
condición                     0.0
grado                         0.0
superficie_sótano_pie2        0.0
año_de_construcción           0.0
precio                        0.0
dtype: float64

In [12]:
# ver los datos duplicados. 
df_t = df_t.drop_duplicates()

In [13]:
df_t.shape

(5465, 10)

para el algoritmo de regresion lineal todas las variables del conjunto de datos debe de ser numericas, las variables categoricas deben de convertirse a variables dummie

Otro aspecto que se debe de considerar es la eliminación de variables que no aportan a la solución.

# Construccion del Modelo

In [ ]:
# se selecciona la variable objetivo
Y = df['precio']

#del conjunto de datos, se elimina la variable 'precio'
X = df.drop(['precio'], axis = 1)

In [ ]:
## Separacion en conjunto de entrenamiento y test. 
Entrenamiento: Ajustar un modelo 
Test: hace predicciones

* 1. Train data = Se utiliza para entrenar el modelo con el algoritmo de aprendizaje. 
* 2. Test data = se utiliz apara evaluar el ajuste del modelo

In [18]:
# se realiza la division entrenamiento, test. El 20% de los datos se deja para el test.

X_train, X_test, Y_train, Y_test = train_test_split(X, Y , test_size = 0.2, random_state = 0)

In [19]:
# Antes de construir el modelo debemos de crear un objeto de la clase Linear Regression

#Se crear el objeto para construir el modelo 
modelo_regresion  = LinearRegression()
modelo_regresion

LinearRegression()

A continuacion, se entrena el modelo utilizando el conjunto de entrenamiento

In [20]:
# Ajustar el modelo con el conjunto de entrenamiento 

modelo_regresion.fit(X_train, Y_train)

LinearRegression()

# Evaluacion del Modelo

Nos van a permitir determinar que tan bien se desempeña un modelo, como se ajusta a los datos, utilziando las siguientes metricas: 
* MSE
* MAE 
* R2

In [26]:
# Se obtienen las predicciones del modelo sobre el conjunto de entrenamiento 
y_pred  = modelo_regresion.predict(X_train)
# se obtienen las metricas a partir de la prediccion y la base de evaluacion (valores reales)
print('MSE: %.2f' % mean_squared_error(Y_train, y_pred, squared = True))
print('RMSE: %.2f' % mean_squared_error(Y_train, y_pred, squared = False))
print('MAE: %.2f' % mean_absolute_error(Y_train, y_pred,))
print('R2: %.2f' % r2_score(Y_train, y_pred))

MSE: 15945059675.36
RMSE: 126273.75
MAE: 96041.85
R2: 0.51

In [29]:
# Metricas mas confiables ya que el modelo no conoce estos datos, por ello nos ayudara a verificar que tan buena es su capacidad,
#para generalizar. 
# Se obtienen las predicciones del modelo sobre el conjunto de test
y_pred  = modelo_regresion.predict(X_test)
# se obtienen las metricas a partir de la prediccion y la base de evaluacion (valores reales)
print('MSE: %.2f' % mean_squared_error(Y_test, y_pred, squared = True))
print('RMSE: %.2f' % mean_squared_error(Y_test, y_pred, squared = False))
print('MAE: %.2f' % mean_absolute_error(Y_test, y_pred,))
print('R2: %.2f' % r2_score(Y_test, y_pred))

MSE: 14832199212.53
RMSE: 121787.52
MAE: 94037.65
R2: 0.51

Una vez determinado el rendimiento de generalizacion utlizando el conjunto test podemos tomar todos los datos 
y construir el modelo final.

In [30]:
# Ajustar el modelo con todos los datos 
modelo_regresion.fit(X,Y)

LinearRegression()

In [31]:
# Podemos utilizar los parametros de los modelos (coeficientes de regresion)
modelo_regresion.fit(X,Y)

LinearRegression()

In [32]:
#Para visualizar el intercepto, utiliza el atributo intercept_ del modelo 
modelo_regresion.intercept_

4465728.331987247

# Interpretacion del modelo

tambien podemos sacar un reporte que nos va a permitir analizar estadisticos del modelo.

In [2]:
model = sm.OLS(Y, X).fit()
# Add a constant
model = sm.add_constant(X)
#mostrar los estadisticos del modelo
model.summary()

NameError: name 'sm' is not defined

# --------------------------------------------------

In [80]:
def models_linear_regression(df,y):
    import pandas as pd
    #construir el modelo con el algoritmo de regresion lineal
    from sklearn.linear_model import LinearRegression
    
    #para determinar el rendimiento del modelo con las metricas MSE, MAE y R2
    from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
    
    models = []
    variables = []
    R2 = []
    MSE = []
    RMSE = []
    MAE = []
    Y = df[y]
    set_cols = []
    i = 0

    # Antes de construir el modelo debemos de crear un objeto de la clase Linear Regression
    #Se crear el objeto para construir el modelo 
    modelo_regresion  = LinearRegression()
    modelo_regresion
    
    for col in df.drop([y], axis = 1).columns:
        set_cols.append(col)
        #print(set_cols)
        X = df[set_cols]
        X_train, X_test, Y_train, Y_test = train_test_split(X, Y , test_size = 0.2, random_state = 0)
        
        # Ajustar el modelo con el conjunto de entrenamiento 
        modelo_regresion.fit(X_train, Y_train)
        
        # Se obtienen las predicciones del modelo sobre el conjunto de entrenamiento 
        y_pred  = modelo_regresion.predict(X_train)
        
        # se obtienen las metricas a partir de la prediccion y la base de evaluacion (valores reales)
        mse =  mean_squared_error(Y_train, y_pred, squared = True)
        rmse = mean_squared_error(Y_train, y_pred, squared = False)
        mae = mean_absolute_error(Y_train, y_pred)
        r2 = r2_score(Y_train, y_pred)
        i += 1
        models.append(i)
        R2.append(r2)
        MSE.append(mse)
        RMSE.append(rmse)
        MAE.append(mae)
        variables.append(col)
        
    df = pd.DataFrame({
        'Modelo': models,
        'Variables': variables,
        'R2': R2,
        'MSE': mse,
        'RMSE': rmse,
        'MAE': mae})
    
    return df

In [81]:
models_linear_regression(df,'precio')

,Modelo,Variables,R2,MSE,RMSE,MAE
0,1,numero_cuartos,0.084366,1.594506e+10,126273.748956,96041.854183
1,2,numero_baños,0.206276,1.594506e+10,126273.748956,96041.854183
2,3,area_de_ construcción_pie2,0.346656,1.594506e+10,126273.748956,96041.854183
3,4,area_del lote_pie2,0.347328,1.594506e+10,126273.748956,96041.854183
4,5,numero_pisos,0.354553,1.594506e+10,126273.748956,96041.854183
5,6,condición,0.360585,1.594506e+10,126273.748956,96041.854183
6,7,grado,0.414972,1.594506e+10,126273.748956,96041.854183
7,8,superficie_sótano_pie2,0.420743,1.594506e+10,126273.748956,96041.854183
8,9,año_de_construcción,0.508284,1.594506e+10,126273.748956,96041.854183